<!DOCTYPE html>
<html lang="en">

<head>
  <title>Location: <%= location_id %></title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/location_show.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/location_show.js"></script>
  <script defer src="/scripts/location_animation.js"></script>
</head>

<body>
  <%- include('header') %>
  <%- include('scroller') %>
  <main>
    <div id="map-identifier" value="<%= map_id %>"></div>
    <div id="location-identifier" value="<%= location_id %>"></div>
    <div class="location-details">
      <h1 id="title"></h1>
      <p id="description"></p>
      <img src="" alt="" id="image">
    </div>
    <hr>
    <div id = 'toggleUpdateForm'>
      <h2>Update/Delete Location</h2>
    <i class="fa-solid fa-angles-down fa-fade" id = "toggleLocFormButton"></i>
    </div>
    <div id="new-location" value = "<%= user_id %>">
    </div>
  </main>
</body>

</html>
