<!DOCTYPE html>
<html lang="en">

<head>
  <title>Map: <%= map_id %></title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/map.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script src="https://kit.fontawesome.com/ec6a812608.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/map_show.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>"></script>
</head>

<body>
  <div id="identifier" value="<%= map_id %>"></div>
  <div id="map-details"></div>
  <div id="google-map"></div>
  <form id = 'favourite' action = '/maps/<%= map_id %>' method = 'POST'>
    Favourite: <button type = "submit" class = 'fa-solid fa-star iconStarInactive'></button>
  </form>
  <form id = 'newMarkerForm' action = '/maps/<%= map_id %>/locations' method = 'POST'>
    <div>
      <fieldset>
        <label for="title">Enter marker name:</label>
        <input type="text" name="title" placeholder="Marker name" required/>
        <label for="description">Enter marker description:</label>
        <textarea type="text" name="description" placeholder="Marker description" required></textarea>
        <label for="markerImage">Enter img url:</label>
        <input type="url" name="markerImage" placeholder="Image URL link" required/>
        <button type="submit">Place marker</button>
      </fieldset>
    </div>
  </form>
</body>

</html>
