<!DOCTYPE html>
<html lang="en">

<head>
  <title>User</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <script src="https://kit.fontawesome.com/ec6a812608.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('header') %>
  <%- include('scroller') %>
  <main class = 'container'>
    <div id = 'profile-container'>
      <div id = 'name-email-container'>
        <h1><%=name%></h1>
        <h3 class = 'email'><%=email%></h3>
      </div>
      <img id="profile-image" src = <%=profile_picture_url%>></h1>
    </div>
    <div>
    <div id = 'fav-contr-container'>
      <div id = 'favourite-list' class = 'list'>
        <h3>Favourite Map</h3>
        <hr>
        <span id = 'favourite-container' class = 'map-container' value = '<%=id%>'></span>
      </div>
      <div id = 'contribution-list' class = 'list'>
       <h3>Contribution Map</h3>
       <hr>
       <span id = 'contribution-container' class = 'map-container'></span>
      </div>
    </div>
    </div>
  </main>
</body>

</html>
